@model List<ShopHai.Models.Cart>

@{
    ViewData["Title"] = "Cart";
}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2 style="color: pink">Shop Hai</h2>
                    <p>Very us move be blessed multiply night</p>
                </div>
                <div class="page_link">
                    <a href="index.html">Home</a>

                </div>
            </div>
        </div>
    </div>
</section>


@if (Model.Count == 0)
{
    <p>Your cart is empty.</p>
}
else
{
    <div class="container" >
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Product.ProductName</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Price * item.Quantity)</td>
                    <td>
                        <form method="post" action="@Url.Action("RemoveFromCart", "Home", new { productId = item.ProductId })">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-right">
        <h4>Total: @Model.Sum(c => c.Price * c.Quantity)</h4>
            <a class="btn btn-primary" href='PrintInvoice'>Checkout</a>
           
            <form method="post" action="@Url.Action("DeleteCartByInvoiceStatus", "Home")">
                <input type="hidden" name="status" value="1" />
                <button type="submit" class="btn btn-danger">Update Cart</button>
            </form>
    </div>
    </div>
}

<style>
    .table {
        margin-bottom: 20px;
    }

    .text-right {
        margin-top: 20px;
        text-align: right;
    }
</style>
